.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container div {
    overflow: hidden;
}

/* Top and bottom margins */
.container h1 {
    margin-top: 12rem;
}

.container:last-child {
    margin-bottom: 8rem;
}