.content {
  position: relative;
  background-color: #195b92d1;
  text-align: left;
  margin-top: -25em;
  z-index: 998;
  /* height: 30vh; */
  width: 100vw;
  padding-left: 4vw;
  overflow: hidden;
}
.three-col {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25em;
  overflow: hidden;
}
.three-col.mobile {
  height: 100vh;
  flex-direction: column;
}
.content.mobile {
  height: 100vh;
  background-color: #195c92 !important;
}
.content .item {
  max-width: 45vw;
}
.content.mobile .item {
  max-width: 90vw;
}
.hero-text.mobile {
  margin-top: -12vh;
}

.item {
  overflow: hidden;
}

.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item p {
  color: white !important;
  /* margin-top: 0; */
  /* margin-bottom: 8px; */
}
