.content {
    display: flex;
    flex-direction: row;
    width: 85vw;
}
.content p {
    font-size: 18px;
    margin-left: 0;
    width: 90%;
    word-wrap: break-word;
    overflow: visible;
    color: "white";
}
.content-item {
    width: 40vw;
    margin-right: 2em;
    max-height: 80vh;
    background-color: #00000060;
    padding-left: 1em;
    overflow: hidden;
    border-radius: 10px;
}
.content-item h1, .content-item h2, .content-item h3, .content-item h4, .content-item p, .content-item a {
    color: #ffffff;

}
.content.mobile {
    flex-wrap: wrap;
    height: 250vh;
    overflow: hidden;
    width: 100vw;
}
.content.mobile .content-item {
        width: 100vw;
}