@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Raleway:wght@300&family=Roboto+Condensed&family=Roboto:ital@1&display=swap');
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}
div {
	overflow-x: hidden;
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.nav-item {
	margin: 0 auto;
	padding: 10px;
	margin-right: 30px;
	margin-top: 0.6em;
}
.nav-item {
	color: white;
	font-family: 'Lato';
}
.nav-item:hover {
	text-decoration: underline;
	cursor: pointer;
}
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(33, 33, 33, 0.85);
	backdrop-filter: blur(10px);
	height: 4em;
	text-align: right;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.hero {
	/* margin-top: 7vh; */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: left;
	align-items: center;
	z-index: -1;
	text-align: left;
	height: 100vh;
	background-size: cover;
	word-wrap: break-word;
	overflow: hidden;

}
.hero h1 {
	margin-left: 8vw;
	font-size: 2.5rem;
}
.hero p {
	font-size: 2rem;
	margin-left: 8vw;
	width: 40rem;
}
.hero-mobile-text {
	font-size: 1rem !important;
	word-wrap: break-word;
	white-space: pre-wrap;
	width: 90vw !important;
}
.hero button {
	margin-left: 8vw;
	
}
.hero .rightButton {
	margin-left: 2vw !important;
}
.hero h1 {
	font-size: 3rem;
}

.hero p {
	font-size: 1.5rem;
}
.hero .caption {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: 0.8em;
}

.content {
	position: absolute;
	background-color: #195b92d1;
	text-align: left;
	margin-top: 80vh;
	height: 20vh;
	width: 100vw;
	padding-left: 4vw;
	overflow: hidden;
}
.content.solar.mobile {
	background-color: #195c92 !important;
}
.content.mobile h2 {
	font-size: 1rem;
}
.content h2 {
	color: white;
	font-family: 'Lato', sans-serif;
}
.solar.mobile {
	flex-direction: column !important;
	height: 100vh !important;
}

.clickable {
	cursor: pointer;
}
.Raleway {
	font-family: 'Raleway', serif;
}
.join-image {
	object-fit: none;
	object-position: 0 4vw;
	background-color: #273f4b;
}
/* .join-image.mobile {
	object-fit: none;
	object-position: -30em 4vw;
} */