.content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.content-item h4 {
    height: "16px";
    margin: 0;
    margin-bottom: 2vh;
    color: white;
}
.content-item:hover {
    cursor: pointer;
}
.section-1 {
    position: relative;
    margin-top: 100vh;
}